name: Compile and Test

on: [push]

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
      - name: Fetch
        run: cargo fetch --verbose
      - name: Build
        run: cargo build --bins --tests --verbose
      - name: Test
        run: cargo test --verbose

  push_to_registry:
    needs: build
    name: Push docker image to gitHub packages
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Docker repository
        uses: docker/login-action@v3
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com

      - name: Push to GitHub Packages
        uses: docker/build-push-action@v6
